* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #2e364a; */
  background-image: url(/Assets/images/timeline-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover {
  color: #f5a425;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* I just added this to make it so that the timline moved down. Delete from here & html for media query*/
.empty-space {
  width: 100%;
  height: 75px;
  z-index: 50;
  
}

#history {
  padding: 10px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
  margin-left: 40%;
  text-align: center;

 
}

.timeline {
  color: #fff;
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.75);
  letter-spacing: 2px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 100%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 18px solid #fff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 18px solid #fff;
  left: -15px;
}

.memories {
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  letter-spacing: 2px;
}

.memory {
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: 15px;
  }
}

/* Added styles for the "Keep Reading" button */
.text-box {
  overflow: scroll;
  overflow-x: hidden;
  height: 300px; /* Adjust this value to set the initial height of the box */
}

.show-more {
  display: block;
  text-align: center;
  margin-top: 10px;
  background-color: black;
}





/*this is the footer*/
  
.head-font {
  font-family: 'Noto Serif', serif;
  font-size: 1em;
}

.para-text {
  font-family: 'bitter', sans-serif;
  font-size: 1.15em;
}

/* THIS IS WHERE THE CSS FOR THE FOOTER BEGINS*/

footer{
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 1rem;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(134, 04, 30);
}


.socials a:visited {
color: rgba(252, 254, 252, 0.25);
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:rgb(134, 04, 30);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: rgb(134, 04, 30);
}

.footer-menu ul li a:visited{
color: rgba(254, 255, 254, 0.25);
}

/* BACK TO TOP ARROW*/
.back-to-top {
display: none;
position: fixed;
bottom: 50px;
right: 50px;
opacity: 0.7;
transition: opacity 0.3s;
}

.back-to-top:hover {
opacity: 1;
color:rgba(11, 68, 11,.5);
}
